<div class="row">
    <div class="picture-container">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/388117/screenshots/2163935/thebox.png" alt="lol">

        
        <div class="picture-details large-12 columns">
            <div class="picture-info">
                <span class="picture-title">picture caption</span>
                <span class="picture-details-username">by <%= @picture.user.email %></span>
            </div>
            
            <div class="large-12 columns picture-comments">
                <div class="large-3 columns padding">
                    <div class="picture-comment-avatar-container text-center">
                        <div class="picture-comment-avatar text-center">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg">
                        </div>

                        <span>username</span>
                    </div>
                </div>
                <div class="large-9 columns padding picture-comment-content">
                    <p>picturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecomment</p>
                </div>
                <div class="picture-comments-border"></div>

            </div>

            <div class="large-12 columns picture-comments">
                <div class="large-3 columns padding">
                    <div class="picture-comment-avatar-container text-center">
                        <div class="picture-comment-avatar text-center">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg">
                        </div>

                        <span>username</span>
                    </div>
                </div>
                <div class="large-9 columns padding picture-comment-content">
                    <p>picturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecomment</p>
                </div>
                <div class="picture-comments-border"></div>

            </div>

            <div class="large-12 columns picture-comments">
                <div class="large-3 columns padding">
                    <div class="picture-comment-avatar-container text-center">
                        <div class="picture-comment-avatar text-center">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg">
                        </div>

                        <span>username</span>
                    </div>
                </div>
                <div class="large-9 columns padding picture-comment-content">
                    <p>picturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecomment</p>
                </div>

            </div>

            <div class="large-12 columns picture-comments">
                <div class="large-3 columns padding">
                    <div class="picture-comment-avatar-container text-center">
                        <div class="picture-comment-avatar text-center">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg">
                        </div>

                        <span>username</span>
                    </div>
                </div>
                <div class="large-9 columns padding picture-comment-content">
                    <p>picturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecommentpicturecomment</p>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="spacing"></div>