<div class="large-7 columns end user-posts">
<div class="spacing"></div>
<div class="spacing"></div>
<% @user.posts.each do |post| %>

    <div class="user-post-container">
        <div class="user-post-content">
            <p>user post contentuser post contentuser post contentuser post contentuser post contentuser post content</p>
        </div>
        
        <div class="user-post-bottom text-center">
            <span class="">view full post</span>
        </div>
        
    </div>

<% end %>
</div>