// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-container{
	position: relative;

	width: 100%;
background: #5b6a7d;
    color: #ece6e6;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(126,137,150,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(126,137,150,1);
    box-shadow: 0px 0px 0px 2px rgba(126,137,150,1);

}

.product-container img{
	position: relative;

	width: 100%;
	height: 200px;

	overflow: hidden;
}

.product-information{
	position: relative;

	width: 100%;
	height: 200px;

	background: #5b6a7d;
    color: #ece6e6;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(126,137,150,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(126,137,150,1);
    box-shadow: 0px 0px 0px 2px rgba(126,137,150,1);
}

.product-header{
	position: relative;
	font-size: 1.5em;

	padding: 10px;
}

.product-desc{
	position: relative;
	top: 5px;
	word-wrap: break-word;
}

.product-margin{
	position: relative;
	margin: 0 0 20px 0;
}

.product-bottom{
	position: absolute;
	bottom: 0;

	background: #6c7d94;

	width: 100%;
	padding: 10px;

	border-top: 1px solid #77879c;
}

.buy-button{
	position: relative;
	display: inline-block;

	padding: 5px;
	width: 45%;

	border: 1px solid #5383B1;

	text-align: center;
	background: #5383B1;
	color: white;
	border-radius: 5px;
}

.buy-button-large{
	position: relative;
	display: inline-block;

	padding: 10px;
	width: 95%;


	text-align: center;
	background: #8890e3;
	color: #ece6e6;

	border-radius: 5px;
}



.side-bar{
	position: relative;

	width: 100%;
	padding: 20px;
}

.large-product-container{
	position: relative;

	padding: 10px;

	width: 100%;
	height: 400px;

	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 6px 1px rgba(168,144,168,0.71);
	-moz-box-shadow: 0px 0px 6px 1px rgba(168,144,168,0.71);
	box-shadow: 0px 0px 6px 1px rgba(168,144,168,0.71);	border: 1px solid #e8dada;
	background: #fefefe;
}

.large-product-container img{
	position: relative;

	width: 100%;
	height: 100%;
}

.product-show-title{
	position: relative;

	text-transform: capitalize;
	font-size: 2em;
}

.product-show-price{
	position: relative;

	font-size: 1.5em;
}

.box-container{
	position: relative;

	width: 100%;
	padding: 20px;

	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(168,144,168,0.71);
	-moz-box-shadow: 0px 0px 6px 1px rgba(168,144,168,0.71);
	box-shadow: 0px 0px 6px 1px rgba(168,144,168,0.71);	border: 1px solid #e8dada;
	background: #fefefe;
}

.product-large-details{
	position: relative;

	width: 100%;

	border-top: 1px solid #F0EFEE;

	word-wrap: break-word;
}

.product-large-details span{
	position: relative;
	top: 10px;
}

.product-info-questions{
	position: relative;
}

.product-question-container{
	position: relative;

	width: 100%;

	padding: 10px 0 10px 0;

}

.question-top{
	position: relative;

}

.product-question{

}

.product-answer{
	position: relative;
	left: 100px;
}