<div class="large-12 columns padding">
	<div class="large-3 columns text-center">
		<div class="side-bar">
			<div class="store-logo text-center">
				<span>AdultSanctuary <br>store logo</span>
			</div>

			<div class="store-categories">
				<div class="category-logo">
					<%= render('categories/categories') %>
				</div>
			</div>
		</div>
	</div>

	<div class="large-9 columns end">
	<% @products.each do |product| %>
		<div class="large-12 columns padding product-margin">
			<div class="large-5 columns padding">
				<div class="product-container">
					<img src="http://www.dropshipping.co.uk/catalog/images/10TWSTPL.jpg">
				</div>
			</div>

			<div class="large-7 columns padding">
				<div class="product-information">
					<div class="product-header">
						<span><%= product.title %></span>

						<p class="product-desc">
							<%= product.desc %>
						</p>
					</div>

					<div class="product-bottom text-center">
						<div class="buy-button">
							<span>buy now</span>
						</div>

						<div class="buy-button">
							<span><%= link_to 'view full details', product_path(product) %></span>
						</div>

					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>