<div class="large-12 columns">
	<div class="large-8 columns">
		<div class="large-product-container">
			<img src="http://www.sexshop365.co.uk/catalog/images/hoverimage/10TWSTPLx1.jpg">
		</div>
	</div>

	<div class="large-4 columns">
		<div class="box-container text-center">
			<span class="product-show-title">product title</span><br>
			<span class="product-show-price">$30102</span><br>
			
			<div class="spacing"></div>
			
			<div class="buy-button">
				<span>buy now</span>
			</div>

			<div class="buy-button">
				<span>gift this</span>
			</div>
		
			<div class="spacing"></div>
			<div class="spacing"></div>

			<div class="product-large-details text-center">
				<span>21021 reviews</span>
			</div>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="spacing"></div>
		<div class="box-container text-center">
			<span>Interested in this product?</span>
			<div class="spacing"></div>
			<div class="buy-button-large">
				<span>add to wishlist</span>
			</div>
			<br>
			<div class="spacing"></div>
			<div class="buy-button-large">
				<span>post about this</span>
			</div>
		</div>
	</div>
</div>

<div class="large-12 columns">
<div class="spacing"></div>
<div class="spacing"></div>

	<div class="large-8 columns">
			<div class="large-12 columns box-container">
				<h4 class="text-center">product information</h4>
				<div class="large-6 columns padding">
					<div class="large-12 columns padding">
						<div class="large-6 columns padding">
							<div class="product-info-questions">
								<div class="product-question-container question-top">
									<span>waterproof:</span><br>
								</div>

								<div class="product-question-container">
									<span>female or male:</span>
								</div>

								<div class="product-question-container">
									<span>Color:</span>
								</div>
							</div>
						</div>
						<div class="large-6 columns padding">
							<div class="product-info-questions">
								<div class="product-question-container question-top">
									<span>yes</span>
								</div>

								<div class="product-question-container">
									<span>female</span>
								</div>

								<div class="product-question-container">
									<span>purple</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="large-6 columns text-center">
					<span>product desc</span>

					<p class="text-center" style="word-wrap: break-word;">
						productdescproductdescproductdescproductdescproductdescproductdescproductdescproductdescproductdescproductdescproductdescproductdescproductdesc
					</p>

				</div>
			</div>
	</div>

	<div class="large-4 columns">
		<div class="box-container text-center">
			<span>similar products</span>
		</div>
	</div>
</div>